@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.font-inter-custom {
  font-family: 'Inter', sans-serif;
}

.font-roboto-custom {
    font-family: 'Roboto', sans-serif;
  }

  .hero-gradient {
    background: linear-gradient(150.0deg, #3D3D3D80 10%, #3D3D3D00 70%, #00000080 100%);
  }